#page {
  font-size: inherit;
  width: auto;
  margin: 0;
}

.node-teaser-card {
  width: 260px;
  height: 350px;
  overflow: hidden;
}

#cards-container-inner .column {
  width: 260px;
  float: left;
}

#word-add-form .form-item-files-file {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
#word-add-form .form-item-files-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#word-add-form #edit-upload { display: none; }
