@font-face {
  font-family: 'intro';
  src: url('font/intro-book/intro-book.eot');
  src: url('font/intro-book/intro-book.otf') format("opentype");
}

@font-face {
  font-family: 'intro';
  src: url('font/intro-bold/intro-bold.eot');
  src: url('font/intro-bold/intro-bold.otf') format("opentype");
  font-weight: bold;
}

body {
  font-family: 'intro';
}

body,html{height:100%;}

#page-wrapper {
  min-height: 100%;
}

#page {
  font-size: inherit;
  width: auto;
  margin: 0;
  padding: 0;
}

#navigation {
  height: 80px;
  position: relative;
  z-index: 5;
  width: 600px;
  margin: 0 auto;
}
#navigation .section {
  padding-top: 40px;
  text-align: center;
}

#main-menu li {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}
#main-menu li a {
  color: #000;
  text-decoration: none;
}
#main-menu li.active-trail {
  background-image: url(../img/menu-item.png);
  padding-top: 20px;
  padding-bottom: 14px;
  background-position: center;
  background-repeat: no-repeat;
}
#main-menu li a.active-trail {
  color: #e60700;
  text-decoration: underline;
}

a, a:link, a:active, a:visited {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

#block-system-main {
  margin-bottom: 0;
}
/* word, deed pages */
.page-the-word h1,
.page-the-word #logo img,
.page-the-word #site-slogan,
.page-the-deed h1,
.page-the-deed #logo img,
.page-the-deed #site-slogan {
   display: none;
 }

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 0 40px;
  background: white;
  height: 80px;
}

#block-menu-menu-social {
  position: absolute;
  top: 22px;
  right: 67px;
}

#block-menu-menu-social ul,
#block-menu-menu-social li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#block-menu-menu-social li {
  display: inline-block;
}

#block-menu-menu-social li a {
  display: block;
  background: url('../img/socials.png') no-repeat scroll -27px 0;
  height: 30px;
  width: 30px;
  text-indent: -9999px;
  outline: none;

}
#block-menu-menu-social li.first a {
  background-position: 0 0;
}
#block-menu-menu-social li.last a {
  background-position: -58px 0;
}

.page-the-word #logo {
  display: block;
  height: 136px;
  width: 255px;
  background: url(../img/logo-word.png) no-repeat scroll 0 0;
}
.page-the-deed #logo {
  display: block;
  height: 142px;
  width: 249px;
  background: url(../img/logo-deed.png) no-repeat scroll 0 0;
}

/* End of word, deed pages */
body.page-the-word {
  background-color: #30509b;
  background-image: url(../img/bg-word.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.front {
  background: url('../img/front-bg.jpg') no-repeat scroll 65% 30%;
}

body.front #page-wrapper {
  background: url('../img/bottom-tile.png') repeat-x scroll center bottom;
}

body.front #main-wrapper {
  width: 560px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -410px;
  margin-left: -280px;
}

body.front .node-page {
  text-align: center;
  margin: 0;
}

body.front .node-page {
  color: white;
  font-family: Arial;
  font-size: 20px;
  line-height: 23px;
}

body.front .node-page p:first-child {
  margin-bottom: 5px;
}
body.front .node-page p {
  margin-bottom: 0;
}

body.front .node-page .actions a,
#spalnik-container .form-trigger {
  display: inline-block;
  border: 2px solid #eeeff6;
  font-family: intro;
  font-weight: bold;
  padding: 2px 7px;
  margin-top: 72px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

#spalnik-container .form-trigger {
  margin-top: 5px;
}

body.front .node-page .actions a {
  margin-right: 20px;
  margin-left: 20px;
}
body.front .node-page .actions a:first-child {
  margin-left: 4px;
}

body.front .node-page .actions {
  background: url('../img/warm-bg.png') no-repeat scroll center top ;
}

body.page-the-deed {
  background: url('../img/bg-snow.jpg') no-repeat scroll center center;
  background-size: 100% auto;
}

body.page-the-deed #page-wrapper {
  background: url('../img/spalnik.png') no-repeat scroll center center;
}

body.page-the-deed #page {
  background: url('../img/bottom-tile2.png') repeat-x scroll center bottom;
}

#spalnik-container {
  width: 516px;
  height: 316px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -258px;
  margin-top: -178px;
  color: #eeeff6;
  text-align: center;
}

#spalnik-container h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

#spalnik-container h3 {
  font-size: 50px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#spalnik-container p {
  font-family: Arial;
  font-size: 20px;
  line-height: 24px;
}

.node-teaser-card {
  width: 200px;
  height: 320px;
  padding-top: 85px;
  padding-right: 44px;
  overflow: hidden;
  background: url(../img/list-separator.png) no-repeat right 41px;
  margin-bottom: 0;
}

#cards-container-inner {
  color: #fff;
}
#cards-container-inner .column {
  width: 260px;
  float: left;
}

.node-teaser-card .diamond,
.preview-wrapper .diamond  {
  height: 254px;
  width: 200px;
  top: -176px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
.style-one .diamond {
  background-image: url(../img/list-item-1.png);
}
.style-two .diamond {
  background-image: url(../img/list-item-2.png);
  background-position: center 8px;
}
#node-card-add .diamond,
.preview-wrapper .diamond {
  background-image: url(../img/list-item-0.png);
}

#node-card-add a {
  color: #eeeff6;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  border: 2px solid #eeeff6;
  margin-top: 2px;
  padding: 6px;
}

.node-teaser-card .field-type-text-long {
  padding-top: 10px;
  font-family: Arial;
  font-size: 16px;
}
.node-teaser-card .field-type-text-long .field-item {
  font-family: Arial;
  font-size: 13px;
}

.node-teaser-card .field-name-field-card-photo .field-item,
.node-teaser-card .field-name-field-text,
.node-teaser-card .submitted {
  text-align: center;
}
.node-teaser-card .submitted {
  padding-top: 0;
  text-decoration: underline;
}
.preview-wrapper img,
.node-teaser-card .field-name-field-card-photo .field-item img {
  border-radius: 55px;
}
.preview-wrapper img {
  margin-top: 62px;
}
.node-teaser-card .field-name-field-card-photo {
  height: 200px;
}

.popup-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#add-hint {
  background: rgba(0, 0, 0, 0.85);
}

#add-hint .x {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  display: inline-block;
}

#add-hint .content-wrapper {
  width: 650px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -325px;
  margin-top: -115px;
  text-align: center;
}

#add-hint .content-wrapper p {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  line-height: 50px;
}
#add-hint .content-wrapper p.bold-line {
  color: #fff4c0;
  font-weight: bold;
}

#node-card-add.highlight {
  position: absolute;
  background: none;
  text-align: center;
}

#add-form {
  background: url('../img/popup-add-bg.png') repeat scroll 50% 50%;
}

#add-form .x {
  position: absolute;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  right: 37px;
  top: 29px;
  font-weight: bold;
  font-size: 16px;
}

#add-form .content-wrapper {
  width: 700px;
  height: 665px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -332px;
  margin-left: -350px;
}

#add-form h2,
#add-form h3 {
  color: #fff4c0;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}
#add-form h4 {
  color: white;
  font-size: 18px;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  vertical-align: bottom;
  margin: 0 53px -2px 41px;
}
.social-login {
  text-align: center;
  margin-bottom: 10px;
}
#fb-login-image, #vk-login-image {
  display: inline-block;
  background: url('../img/fb-link.png') no-repeat scroll 0 0;
  width: 67px;
  height: 63px;
  text-indent: -9999px;
  outline: none;
  vertical-align: bottom;
}
#vk-login-image {
  background: url('../img/vk-link.png') no-repeat scroll 0 0;
  margin-left: 23px;
}
#add-form .preview-wrapper {
  margin: 0 auto -36px auto;
  width: 200px;
  height: 259px;
  text-align: center;
}
#add-form form .form-type-file {
  display: inline-block;
  vertical-align: bottom;
}
.ava-source-container {
  text-align: right;
  /* width: 85px; */
  position: relative;
  top: -124px;
  right: 149px;
}
#add-form form .form-type-file label {
  cursor: pointer;
  line-height: 20px;
  color: white;
  text-decoration: underline;
  width: 85px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

#add-form form .form-item-files-file {
  position: relative;
  overflow: hidden;
  margin: 0;
}
#add-form form .form-item-files-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#add-form form .form-item-text {
  margin: 26px 0 32px;
}
#add-form form .form-item-text textarea {
  font-family: Arial;
  font-size: 14px;
  color: white;
  background-color: #161616;
  border: 2px solid #eeeff6;
  width: 352px;
  height: 87px;
  margin: 0 auto;
}
#add-form form .form-item-text .description {
  font-size: 13px;
  font-family: Arial;
  color: #676767;
  text-align: center;
  padding-top: 5px;
}
#add-form form #edit-submit {
  margin: 0 auto;
  cursor: pointer;
  padding: 6px 21px 5px;
  line-height: 18px;
  color: #eeeff6;
  border: 2px solid #eeeff6;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  background: none;
  outline: none;
  display: block;
}
#add-form form #edit-upload { display: none; }
#add-form form .ajax-progress {display: none; }


#pay-form {
  background: url('../img/popup-pay-bg.png') repeat scroll 50% 50%;
  text-align: center;
}

#pay-form .x {
  position: absolute;
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  right: 37px;
  top: 29px;
  font-weight: bold;
  font-size: 16px;
}

#pay-form .content-wrapper {
  width: 684px;
  height: 590px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -343px;
  font-family: Arial;
}

#pay-form .content-wrapper p {
  padding: 10px 90px 0;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 50px;
}

#pay-form .content-wrapper .rule {
  background: url('../img/hr.png') no-repeat scroll center top;
  height: 22px;
  margin: 40px 0 30px;
}

#pay-form .content-wrapper .rule2 {
  background: url('../img/hr2.png') no-repeat scroll center top;
  height: 41px;
}

#pay-form .credentials {
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 19px;
}

#pay-form .credentials span {
  color: #b8b8b8;
}

#pay-form form {

}

#pay-form form img,
#pay-form form input,
#pay-form form button {
  display: inline-block;
  vertical-align: bottom;
}

#pay-form form img {
  margin: 0 27px 5px 0;
}
#pay-form iframe {
  display: none;
}
#pay-form form input {
  width: 250px;
  font-size: 24px;
  padding: 11px 10px;
  line-height: 24px;
  color: black;
  border: 2px solid #e8e3d7;
  margin-right: 15px;
  background: #f5f6db;
  height: 24px;
}
#pay-form form button {
  margin: 0;
  font-family: intro;
  font-weight: bold;
  font-size: 18px;
  padding: 11px 20px;
  line-height: 24px;
  color: #5a5756;
  border: 2px solid #5a5756;
  background: #fdd700;
  height: 24px;
  box-sizing: content-box;
  text-transform: uppercase;
  cursor: pointer;
}

.messages-modal {
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 110;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

div.messages-wrapper {
  width: 550px;
  left: 50%;
  top: 30%;
  margin-left: -300px;
  position: absolute;
  text-align: center;
  z-index: 130;
  padding: 25px;
  min-height: 100px;
  background: rgba(22, 22, 22, 0.9);
  border: 2px solid #eeeff6;
}

div.messages-wrapper ul,
div.messages-wrapper ul li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;

}
div.messages-wrapper .messages {
  background: none !important;
  color: #eeeff6 !important;
  border: none !important;
  text-align: center;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

div.messages-wrapper .messages-inner-2 {
  padding-top: 20px;
}

a.messages-close {
  position: absolute;
  right: 11px;
  top: 9px;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

/* Debug mode */
/*.messages-modal,*/
/*.messages-wrapper,*/
/*#add-form {*/
  /*display: none !important;*/
/*}*/

@media (max-height: 860px) {
  body.front #main-wrapper .field-name-body img.logo {
    width: 237px;
    height: 246px;
  }

  body.front .node-page {
    font-size: 16px;
  }

  body.front #main-wrapper {
    width: 560px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -280px;
  }

}
